extends layout

block content
    .sidebar
        block sidebar
            include sidebar
    
    .main-content
        block main
            h1 Genre: #{genre.name}

            div(style='margin: 20px 0 0 20px;')

                h4 Books
                
                dl
                    each book in genre_books
                        dt
                            a(href=book.url) #{book.title}
                        dd #{book.summary}

                    else 
                        p This genre doesn't have any book

            .control-container
                a.btn.btn-primary(href=genre.url + '/update') Update
                a.btn.btn-danger(href=genre.url + '/delete') Delete

